@import '../../../styles/mixin.scss';

.WorkDetail {
  @include main-grid();
  min-height: calc(100vh - 599px);

  &_title {
    @include content_title();
    color: #162225;
    margin-bottom: 84px;
  }
  &_desc {
    @include content_text(24px, 38px, 0.04px);
    padding-bottom: 44px;
    width: $contents-width;
  }

  &_distribute {

    &_guide_text {
      @include guidance_text(#000002);
      margin-bottom: 18px;
    }
    &_list {
      display: flex;

      &_item {
        margin-right: 24px;
        
        &:last-child {
          margin-right: 0;
        }

        &_link {
          font-size: 24px;
          font-family: 'roboto';

          &:hover {
            @include point_underline();
          }
        }
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .WorkDetail {
    @include mobile-main-grid();
    margin: 0 auto;

    &_title {
      margin-bottom: 44px;
      @include mobile-content-title();
    }

    &_desc {
      width: 100%;
      @include mobile-content-text();
    }

    &_distribute {

      &_guide_text {
        margin-bottom: 12px;
        @include mobile-guide-text();
      }

      &_list {
        &_item {
          &_link {
            font-size: 18px;
          }
        }
      }
    }
  }
}