@import '../../../styles/mixin.scss';

.WorkItem {
  &_title {
    @include content_title();
    margin-bottom: 14px;

    &.beige {
      color: #e0e0e0;
    }

    &.blue {
      color: #0001fd;
    }

    &.white {
      color: #fff;
    }
  }

  &_info {
    @include content_info();

    &.black {
      color: #02020a;
    }

    &.white {
      color: #fff;
    }

    &_center {
      &::before, &::after {
        content: '';
        display: inline-block;
        height: 2px;
        margin: 0 10px;
        transform: translateY(-2px);
        vertical-align: middle;
        width: 12px;
      }

      &.black::before, &.black::after {
        background: #02020a;
      }

      &.white::before, &.white::after {
        background: #fff;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .WorkItem {

    &_title {
      @include mobile-content-title();
    }

    &_info {
      font-size: 14px;
      line-height: 22px;

      &_center {
        &::before, &::after {
          margin: 0 8px;
          width: 10px;
        }

        &.black::before, &.black::after {
        }

        &.white::before, &.white::after {
        }
      }
    }
  }
}
