@import '../../../styles/variable.scss';

.WorkList {
  &_item {
    margin-bottom: 122px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $mobile-width) {
  .WorkList {

    &_item {
      margin-bottom: 102px;
    }
  }
}
