@import '../../../styles/mixin.scss';

.WorkPage {
  &_footer {
    background: $main-color;
    bottom: 0;
    height: $work-footer-height;
    left: 0;
    position: fixed;
    width: 100%;

    &_wrp {
      @include main-grid();
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }

    &_guide {
      @include guidance_text(#fff);
      padding-bottom: 38px;
    }
  }
}

@media (max-width: $mobile-width) {
  .WorkPage {
    padding-bottom: 464px;
    
    &_footer {
      bottom: 0;
      height: 354px;
      left: 0;
      position: absolute;
      width: 100vw;

      &_wrp {
        @include mobile-main-grid();
        height: 354px;
      }

      &_guide {
        font-size: 14px;
        padding-bottom: 14px;
      }
    }
  }
}