@font-face {
    font-family: 'blacker-bold';
    src: url('./fonts/Blacker-Display-Bold-trial.ttf') format("truetype");
  }

@font-face {
  font-family: 'roboto';
  src: url('./fonts/Roboto-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'nanum-square-bold';
  src: url('./fonts/NanumSquareBold.ttf')
}
