body {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1, input, button {
  font-size: inherit;
  font-family: inherit;
}