@import '../../../styles/mixin.scss';

.Layout {
  background: $main-background-color;
  min-height: 100vh;
  &_container {
    @include main-grid();
  }
}

@media (max-width: $mobile-width) {
  .Layout {
    position: relative;
    width: 100%;

    &_container {
      @include mobile-main-grid();
    }
  }
}