@import '../../../styles/mixin.scss';

.ContactBox {
  padding-bottom: 94px;
  
  &_title {
    @include guidance_text(#000000);
    margin-bottom: 38px;
  }

  &_list {
    display: flex;

    &_item {
      font-size: 30px;

      &_link {
        @include point_underline();
      }

      &::after {
        content: '&';
        margin: 0 14px;
      }

      &:last-child {
        &::after {
          content: '.';
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .ContactBox {
    padding-bottom: 34px;

    &_title {
      font-size: 14px;
      margin-bottom: 22px;
    }

    &_list {

      &_item {
        font-size: 22px;

        &_link {
          color: $main-color;
          background: none;
        }

        &::after {
          margin: 0 8px;
        }
      }
    }
  }
}