@import '../../../styles/mixin.scss';

.AboutText {
  margin-bottom: 120px;
  width: $contents-width; 
  @include content_text(28px, 38px, 0.06px);
}

@media (max-width: $mobile-width) {
  .AboutText {
    @include mobile-content-text();
    margin-bottom: 94px;
    width: 100%;
  }
}