@import '../../../styles/mixin.scss';

.Header {
  display: flex;
  margin-bottom: 148px;
  padding-top: 50px;
  @include guidance_text(#000002);

  &_logo {
    margin-right: auto;
  }

  &_nav {
    margin-left: auto;
    @include guidance_text(#0911bd);

    &_item {
      margin-right: 28px;
      padding-bottom: 1px;

      &:hover {
        @include point_underline();
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .Header {
    align-items: center;
    background: $main-background-color;
    flex-direction: column;
    justify-content: center;
    padding: 22px 0 104px 0;
    margin-bottom: 0;
    width: 100%;

    &_logo {
      font-size: 14px;
      line-height: 42px;
    }

    &_nav {
      font-size: 14px;
      margin-left: 0;
      margin-right: auto;

      &_item {
        margin-right: 16px;
      }
    }
  }
}